<p id="notice"><%= notice %></p>
<% if session[:user_type] == "student" %>
  <h1>Hello <%= @student.name %></h1><br>
  <h3>Your Grades</h3></br>
<% else %>
  <h1>Hello <%= @student.parents.find(session[:user_id]).name %><h1><br>
  <h3><%= @student.name %>'s grades</h3>
<% end %>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Grade</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @student.grades.each do |g| %>
      <tr>
        <td><%= g.assignment %></td>
        <td><%= g.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
