<p id="notice"><%= notice %></p>
<h1>Hello <%= @student.name %></h1><br>
<h1>Student Grades</h1></br>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Grade</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @student.grades.each do |g| %>
      <tr>
        <td><%= g.assignment %></td>
        <td><%= g.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
