<p id="notice"><%= notice %></p>

<h1>Listing Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @teacher.students.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.email %></td>
        <td><%= link_to 'Show', s %></td>
        <td><%= link_to 'Edit', edit_student_path(s) %></td>
        <td><%= link_to 'Add Parent', new_parent_path(student_id: s.id) %></td>
        <td><%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
