<!DOCTYPE html>
<html>
<head>
  <title>Gradebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div>
<% if session[:user_type] == "student" %>
  <%= link_to "Edit Password", edit_student_path(session[:user_id]) %>
<% elsif session[:user_type] == "parent" %>
  <%= link_to "Edit Password", edit_parent_path(session[:user_id]) %>
<% end %>
</div>
<div class="logout">
  <%= link_to "Logout", sessions_logout_path if session[:user_id] %></br>
</div>
</body>
</html>
